.message-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-end;
    cursor: default;
}

.message-wrapper + .message-wrapper {
    margin-top: 2px;
}

/* Message received*/

.message-wrapper.sent {
    justify-content: end;
}

.message-wrapper.received > .avatar {
    opacity: 0;
    visibility: hidden;
}

/* First */
.message-wrapper.received:not(
        .message-wrapper.received + .message-wrapper.received
    )
    > .message {
    border-radius: 18px 18px 18px 4px;
}

/* Middle */
.message-wrapper.received + .message-wrapper.received > .message {
    border-radius: 4px 18px 18px 4px;
}

/* End */
.message-wrapper.received:not(:has(+ .message-wrapper.received)) > .message {
    border-radius: 4px 18px 18px 18px;
}

.message-wrapper.received:not(:has(+ .message-wrapper.received)) > .avatar {
    opacity: 1;
    visibility: visible;
}

/* Default */
.message-wrapper.received:not(
        .message-wrapper.received + .message-wrapper.received
    ):not(:has(+ .message-wrapper.received))
    > .message {
    border-radius: 18px;
}

/* First */
.message-wrapper.message-wrapper.sent:not(
        .message-wrapper.sent + .message-wrapper.sent
    )
    > .message {
    border-radius: 18px 18px 4px 18px;
}

/* Middle */
.message-wrapper.sent + .message-wrapper.sent > .message {
    border-radius: 18px 4px 4px 18px;
}

/* End */
.message-wrapper.sent:not(:has(+ .message-wrapper.sent)) > .message {
    border-radius: 18px 4px 18px 18px;
}


/* Default */
.message-wrapper.sent:not(.message-wrapper.sent + .message-wrapper.sent):not(
        :has(+ .message-wrapper.sent)
    )
    > .message {
    border-radius: 18px;
}

.message {
    max-width: 60%;
    word-wrap: break-word;
}

.message-wrapper.sent > .sent-status.is-seen {
    opacity: 0;
    visibility: hidden;
} 

.message-wrapper.sent > .sent-status.is-seen.is-last {
    opacity: 1;
    visibility: visible;
} 


